body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.content-container{
  display: block;
  margin: 0 auto;
}

.products-container {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}


.product-list-container {
  flex: 1 0 calc(20% - 10px);
  background-color: #EDEDED;
  display: block;
  text-align: center;
  text-decoration: none;
  color: red;
  border: none;
  padding: 10px;
  border-radius: 5px;
  /* width: 150px;
  height: 200px; */
  margin-top: 30px;
  margin-left: 30px;
  padding: 40px;
  transition: background-color 0.3s ease;
}

.product-list-container img{
  width: 100%;
  min-width: 240px;
  height: 26vh;
  margin-bottom: 5px;
}

.product-list-container h3 {
  color: black !important;
  font-family: 'montserrat';
  font-weight: 400;
  font-size: 15px;
  padding: none;
  margin:none;
  margin-bottom: 1px;
}

.product-list-item-details{
  display: flex;
  justify-content: space-between;
}
.product-section p {
  font-size: 15px;
  font-weight: bold;
}

.single-product-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Container for the product image */
.single-product-image {
  flex: 1;
  max-width: 400px;
  margin: 20px;
}

/* Styles for the product image */
.single-product-image img {
  max-width: 100%;
  height: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Container for the product details */
.single-product-details {
  flex: 1;
  max-width: 400px;
  margin: 20px;
}

/* Product name styling */
.product-name {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
}

/* Product price styling */
.product-price {
  font-size: 20px;
  color: firebrick;
  margin-bottom: 15px;
}

/* Product description styling */
.product-description {
  font-size: 10px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Product quantity styling */
.product-quantity {
  font-size: 20px;
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Add To Cart button styling */
.add-to-cart-btn {
  background-color: #f0c14b;
  color: #1d1d1d;
  padding: 10px 20px;
  font-size: 1.4rem;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
